button {
  background-color: #fade4b;
  border: 1px solid #fade4b;
  border-radius: 20px;
  color: #000;
  font-weight: 800;
  font-size: large;
}

.card {
  background-color: rgba(34, 34, 34, 0.5);
  color: white;
}

a,
.error {
  color:#fade4b
}

a:hover {
  color: #d3d4d5;
}
