<div class="container-fluid">
  <nav role="navigation" aria-label="Social media menu" class="navbar-custom">
    <div class="social-links">
      <ul>
        <li class="social-icon">
          <a class="social-link" href="https://www.tiktok.com/@starwars" target="_blank" rel="noopener noreferrer" title="TikTok">
            <img src="assets/img/socials/icon-tiktok.png" alt="TikTok">
          </a>
        </li>
        <li class="social-icon">
          <a class="social-link" href="https://www.instagram.com/starwars/" target="_blank" rel="noopener noreferrer" title="Instagram">
            <img src="assets/img/socials/icon-instagram.png" alt="Instagram">
          </a>
        </li>
        <li class="social-icon">
          <a class="social-link" href="https://twitter.com/starwars" target="_blank" rel="noopener noreferrer" title="Twitter">
            <img src="assets/img/socials/icon-x.png" alt="Twitter">
          </a>
        </li>
        <li class="social-icon">
          <a class="social-link" href="https://www.facebook.com/StarWars" target="_blank" rel="noopener noreferrer" title="Facebook">
            <img src="assets/img/socials/icon-facebook.png" alt="Facebook">
          </a>
        </li>
        <li class="social-icon">
          <a class="social-link" href="https://www.youtube.com/user/starwars" target="_blank" rel="noopener noreferrer" title="YouTube">
            <img src="assets/img/socials/icon-youtube.png" alt="YouTube">
          </a>
        </li>
      </ul>
    </div>

    <div class="login">
      <a [routerLink]="['login']" class="login-link">
        <img src="assets/img/login/login-icon.png" alt="Login" class="login-logo" title="Login ">
        <b>LOGIN</b>
      </a>
      //
      <a [routerLink]="['register']" class="login-link">
        <img src="assets/img/login/register-icon.png" alt="Login" class="login-logo">
        <b>SIGNUP</b>
      </a>
    </div>
  </nav>

  <div class="logo-center">
    <a href="/home">
      <img src="assets/img/star-logo.png" alt="Star Wars" class="logosw">
    </a>
  </div>

  <div class="menu">
    <a href="/home">HOME</a> | <a href="starships">STARSHIPS</a>
  </div>

</div>

