.shiplist,
.loader,
.more {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3%;
}

.loader-ico {
    margin: -25px;
}

.card {
    padding: 10px;
    margin: 10px;
    background-color: rgba(34, 34, 34, 0.5);
    color: white;
}

.card-title {
    text-align: center;
}

p {
    font-size: 1.3rem;
}

button {
    background-color: #000;
    border: 1px solid #fade4b;
    border-radius: 20px;
    color: #fff;
}

.starship {
  transition: transform 0.5s ease;
}

.starship:hover {
  transform: scale(1.1);
}
