.shiplist,
.loader,
.more {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3%;
}

.card {
    padding: 10px;
    margin: 10px;
    background-color: rgba(34, 34, 34, 0.5);
    color: white;
    border-radius: 20px;
}

.card-title {
    text-align: center;
}

p {
    font-size: 1.3rem;
}

li b {
  color: #fade4b;
  font-weight: 400;
}

button {
    background-color: #fade4b;
    border: 1px solid #fade4b;
    border-radius: 20px;
    color: #000;
    font-weight: 800;
    font-size: large;
  }

.starship {
  transition: transform 0.5s ease;
}

.starship:hover {
  transform: scale(1.15);
}

.card-custom img {
  border-radius: 20px;
}

li {
  list-style: none;
}