@if(starships) {
<div class="card-body shiplist">
  <h1 class="animate-character"><b>STARSHIPS</b></h1>

  @for(starship of starships; track starship.name) {

  <div class="card col-xxl-3 col-xl-4 col-lg-5 col-md-6 col-8">
    <a [routerLink]="['/starship', starship.url.split('/').slice(-2, -1)[0]]">
      <div class="card-title">
        <b>
          <h3 class="m-1">

            {{ starship.name }}

          </h3>
        </b>
      </div>
      <p class="card-text"><b>Model:</b> {{ starship.model }}</p>
    </a>
  </div>

  }

</div>
}
<div *ngIf="loading" class="loader">
  <div class="text-center">
    <div class="spinner-border" role="status"></div>
    <span class="loader mt-4">Loading...</span>
  </div>
</div>
<div class="more">
  <button (click)="onViewMore()" *ngIf="!loading && next" class="btn btn-light">View More</button>
</div>