a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #fade4b;
}

.shiplist,
.loader,
.more {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
}
.card {
    padding: 10px;
    margin: 10px;
    background-color: rgba(34, 34, 34, 0.473);
    color: white;
    transition: transform 0.5s ease;
    border-radius: 20px;
}

.card:hover {
    transform: scale(1.1);
}

.card-custom img {
    border-radius: 20px;
}

button {
    background-color: #fade4b;
    border: 1px solid #fade4b;
    border-radius: 20px;
    color: #000;
    font-weight: 800;
    font-size: large;
  }
