<div *ngIf="starships" class="card-body shiplist">
  <h1 class="animate-character"><b>STARSHIPS</b></h1>


    <div *ngFor="let starship of starships; " class="card col-xxl-3 col-xl-8 col-lg-8 col-md-6 col-8">
      <a [routerLink]="['/starship', starship.url.split('/').slice(-2, -1)[0]]">
        <div class="card-title">
          <div class="row">
            <div class="col-12 col-lg-8 align-content-center">
              <h2 class="card-title text-center"><b>{{ starship.name }}</b></h2>
              <p class="card-text text-center"><b>Model:</b> {{ starship.model }}</p>
            </div>
            <div class="col-12 col-lg-4">
              <div class="card-custom">
                <img [src]="starship.imageUrl" alt="{{ starship.name }}" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>


<div *ngIf="loading" class="loader">
  <div class="text-center">
    <div class="spinner-border" role="status"></div>
    <span class="loader mt-4">Loading...</span>
  </div>
</div>

<div class="more">
  <button (click)="onViewMore()" *ngIf="!loading && next" class="btn btn-light">View More</button>
</div>
