a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #fade4b;
}

.shiplist,
.loader,
.more {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}
.card {
    padding: 10px;
    margin: 10px;
    background-color: rgba(34, 34, 34, 0.473);
    color: white;
}

.card:hover {
    transform: scale(1.1);
}

.loader-ico {
    margin: -25px;
}

button {
    background-color: #000;
    border: 1px solid #fade4b;
    border-radius: 20px;
    color: #fff;
}