@font-face {
  font-family: DINNext;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('https://static-mh.content.disney.io/matterhorn/assets/drm_fonts/da088ecc-a53c-4831-a95b-6fd81b5b338a-3c1b11e7ebfa.eot?#iefix')  format('embedded-opentype'),
       url('https://static-mh.content.disney.io/matterhorn/assets/drm_fonts/c5a7f89e-15b6-49a9-8259-5ea665e72191-9d1e641a0ccf.woff') format('woff'),
       url('https://static-mh.content.disney.io/matterhorn/assets/drm_fonts/868c94b5-ca49-46b7-b62b-297f8d861125-0b3e4fad0ff7.ttf') format('truetype'),
       url('https://static-mh.content.disney.io/matterhorn/assets/drm_fonts/e3145f65-29b5-4f7f-8c6e-2dc135021b6a-64578eb1dd67.svg#DINNext') format('svg');
}

* {
  font-family: 'DINNext';
}

body {
  background-color: black;
  background-size: cover;
  color: white;
}

p {
  font-weight: 100;
}

b {
  font-weight: 600;
}

h2 {
  text-transform: uppercase;
}

.animate-character,
.animate:hover {
  background-image: linear-gradient(
  -250deg,
  white 0,
  #fade4b 65%,
  white 100%
  );

  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
  animation-direction: reverse;
  display: inline-block;
}

@keyframes textclip {
to {
  background-position: 200% center;
}
}

// Animated Background
@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
  from {background-position: 0;}
  to {background-position:10000px 0;}
}

.stars,
.twinkling {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: #000 url('../public/assets/img/stars.png');
  z-index: -1;
}

.twinkling {
  background: transparent url('../public/assets/img/twinkling.png');
  z-index: -1;
  -moz-animation: move-twink-back 200s linear infinite;
  -ms-animation: move-twink-back 200s linear infinite;
  -o-animation: move-twink-back 200s linear infinite;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}